@model IEnumerable<CDRDateModelView>
@{
    ViewData["Title"] = "GetSubscripDetails";
    int count = 0;
    string id = "myId" + count.ToString();
    double tot =0.0;
}


<partial name="_HeaderPartial" model='new HeaderModelView {  title = "الأشتراكات" , subTitle = "تفاصيل"}' />

<!-- Page content -->
<div class="container-fluid mt--6">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <div class=" row">
                        <h3 class="mb-0 col-6">تفاصيل</h3>
                    </div>

                </div>
                <div class="table-responsive py-4">
                    <table class="table  text-center table-bordered" style="background-color:cornflowerblue;color:white" id="datatable-buttons">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.SimCardNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotlalAmmount)
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                tot += item.TotlalAmmount;
                                id = "myId" + count++.ToString();
                                <tr>

                                    <td style="vertical-align:middle">
                                        @Html.DisplayFor(modelItem => item.SimCardNumber)
                                    </td>
                                    <td style="vertical-align:middle">

                                        <table class="text-center table-bordered w-100">
                                            <thead style="background-color:#76a0ef" data-toggle="collapse" data-target="#@id" aria-expanded="false" aria-controls="@id">
                                            <th>ألتاريخ</th>
                                            <th>ألصرف</th>
                                            </thead>

                                            <tbody style="background-color:#F8F9F9;color:black" class="collapse" id="@id">

                                                @foreach (var date in item.Date)
                                                {

                                                    <tr>


                                                        <td>@date.Date</td>
                                                        <td>@date.Ammount</td>

                                                    </tr>

                                                }
                                            </tbody>

                                        </table>

                                    </td>
                                    <td style="vertical-align:middle">
                                        @Html.DisplayFor(modelItem => item.TotlalAmmount)
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                               <tr>
                                   <th></th>
                                   <th></th>
                                   <th>
                                      
                                       @if (tot > ViewBag.groupLimit)
                                       {
                                           <span class="text-red bg-white p-1">@tot</span>
                                       }
                                       else
                                       {
                                           <span class="text-green bg-white p-1">@tot</span>
                                       }
                                   </th>
                               </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </div>

</div>















 