@model SimCardModelView

@{
    ViewData["Title"] = "Details";
}

<partial name="_HeaderPartial" model='new HeaderModelView {  title = "ألشرائح" , subTitle = "تفاصيل شريحة"}' />




<!-- Page content -->
<div class="container-fluid mt--6">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="mb-0">تفاصيل شريحة</h3>
                </div>
                <dl class="row card-body">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Code)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Code)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SimCardNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SimCardNumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ACCT_CODE)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ACCT_CODE)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IMEI)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IMEI)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SimIP)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SimIP)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SimType)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SimType)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Server)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Server)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ServerIp)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ServerIp)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ServerLocation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ServerLocation)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ServerLink)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ServerLink)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ServerOS)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ServerOS)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DevaiceName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DevaiceName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DeviceType)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DeviceType)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DeviceModal)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DeviceModal)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DeviceLocation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DeviceLocation)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DeviceIMEI)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DeviceIMEI)
                    </dd>
                </dl>
                <div class=" card-footer">
                    <div class="row">
                        <div class="col-6">
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary text-white">تعديل</a>
                        </div>
                        <div class="col-6 text-left">
                            <a asp-action="Index" class="btn btn-danger text-white">رجوع</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>















 