@model PagingList<GroupSimCardsModelView>

@{
    ViewData["Title"] = "AddSimCardToGroup";
}

<partial name="_HeaderPartial" model='new HeaderModelView {  title = "ألمجموعات" , subTitle = "إضافة شريحة"}' />

<!-- Page content -->
<div class="container-fluid mt--6">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="mb-0">إضافة شريحة</h3>
                </div>

                <form method="get" class="form-inline">
                    <div class="dataTables_filter">
                        <span style="display:flex">بحث :</span>
                        <input name="filter" type="search" value="@Model.RouteValue["Filter"]" class="form-control form-control-sm" placeholder="رقم ألشريحة..." aria-controls="datatable-buttons">
                        <button type="submit" class=" btn-danger form-control-sm ">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>  <i class="fas fa-search text-white"></i>
                        </button>
                    </div>
                </form>
 

                <form>
                    <div class="table-responsive py-4">
                        <table class="table table-flush text-center" style="background-color:cornflowerblue;color:white" >
                            <thead>
                                <tr>
                                    <th>ألرمز</th>
                                    <th>رقم ألشريحة</th>
                                    <th>رقم ألعقد</th>
                                    <th>نوع ألشريحة</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var item in Model)
	                            {
		                           <tr>
                                       <td>@item.SimCard.Code</td>
                                       <td>@item.SimCard.SimCardNumber</td>
                                       <td>@item.SimCard.ACCT_CODE</td>
                                       <td>@item.SimCard.SimType</td>
                                       <td>
                                           <a asp-action="ConfirmAddSimCardToGroup" asp-route-groupId="@item.GroupId" asp-route-simCardId="@item.SimCardId" class="table-action" data-toggle="tooltip" data-original-title="إضافة">
                                               <i class="fas fa-plus-square"></i>
                                           </a>
                                       </td>
                                   </tr>
	                            }

                                


                            </tbody>
                        </table>
                        <nav aria-label="SimCard Paging">
                            @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
                        </nav>
                    </div>
                  

                </form>
            </div>
        </div>
    </div>
</div>

























@*<form asp-action="AddSimCardToGroup">
    @for (int i = 0; i < Model.Count; i++)
    {
        <input type="hidden" asp-for="@Model[i].GroupId" />
        <input type="hidden" asp-for="@Model[i].SimCardId" />
        <input asp-for="@Model[i].Selected" />
        @Model[i].SimCard.SimCardNumber
        <br />
    }


    <div class="row" dir="ltr">
        <div class="form-group col-md-2">
            <input type="submit" value="إضافة" class="btn btn-block btn-primary" />
        </div>
    </div>
</form>*@



